# macOS-specific files.
.DS_Store

# Dependencies
node_modules/
.venv/
__pycache__/
*.pyc

# Build outputs
.wasp/
dist/
build/

# Ignore all dotenv files by default to prevent accidentally committing any secrets.
# To include specific dotenv files, use the `!` operator or adjust these rules.
.env
.env.*

# Don't ignore example dotenv files.
!.env.example
!.env.*.example
