# All client-side env vars must start with REACT_APP_ https://wasp.sh/docs/project/env-vars

# See https://docs.opensaas.sh/guides/analytics/#google-analytics
REACT_APP_GOOGLE_ANALYTICS_ID=G-...

# URLs des microservices Python (ne jamais exposer en production sans reverse proxy)
REACT_APP_CR_URL=http://localhost:8003
REACT_APP_CCTP_URL=http://localhost:8001
REACT_APP_PLU_URL=http://localhost:8002
